@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "BIG JOHN";
  src: url("../assets/font/BIG JOHN.otf");
}
@font-face {
  font-family: "SLIM JOE";
  src: url("../assets/font/Slim Joe.otf");
}
body {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #efefef;
}
.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.side-panel {
  z-index: 100;
  width: 15%;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dashboard-container {
  width: 85%;
  height: 100vh;
  overflow: auto;
}
.side-panel ul:nth-child(1) {
  padding: 30px;
}
hr {
  width: 100%;
  background: #fbaf03;
  border: none;
  border-radius: 50%;
  outline: none;
  height: 2px;
}
ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
li {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  display: flex;
  height: 42px;
  align-items: center;
  transition: ease-in-out 0.5s;
}
ul li svg {
  position: relative;
  padding: 10px 5px 10px 20px;
  width: 20px;
  height: 20px;
  color: #164863;
}
li:hover {
  background-color: #fbaf03;
}
li:hover svg {
  color: #fff;
}
li:hover a {
  color: #fff;
}

ul li a {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: #164863;
}
.active {
  background: #a30401;
  animation: anim 2.5s infinite ease-in-out;background: #164863;
  background: -webkit-linear-gradient(57deg, #164863 0%, #1D6A93 50%, #248BC2 100%);
  background-size: 400% 400%;
  transition: 0.5s ease-in-out;
  a,svg{
    color: #fff;
  }
}
.header {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
}
.title {
  width: 100%;
}
.title p {
  padding: 20px;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: "SLIM JOE";
  margin-left: 20px;
}
.acc-and-search {
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: flex-end;
}
.search-box {
  border-radius: 10px;
  width: 300px;
  height: 50px;
  display: flex;
  background: #efefef;
  align-items: center;
}
.search-box input {
  position: relative;
  width: 100%;
  height: 100%;
  border: solid 2px transparent;
  outline: none;
  background: none;
  margin-left: 20px;
}
.search-box:hover {
  outline: none;
  border-color: #fbaf03;
  box-shadow: 0 0 0 4px #fbb1037e;
  transition: ease-in-out 0.5s;
}
.search-box svg {
  width: 20px;
  height: 20px;
  padding: 10px;
}
.account-image-container {
  text-align: center;
  cursor: pointer;
  width: 10%;
}
.account-image-container img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}
.output-details{
  width: 100%;
  position: relative;
  padding: 30px;
}
.announcement,
.course{
  width: 95%;
}
.announcement-container,
.course-container{
  width: 100%;
  background: #fff;
  height: 670px;
  border-radius: 10px;
  overflow: hidden;
}
.image-container{
  height: 200px;
  width: auto;
  overflow: hidden;
  background-image: url("../assets/image/course-bg-info.jpg");
  background-size: cover;
}
.image-container img{
  width: 30%;
}
.announcement-container-info,
.course-container-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  width: auto;
  padding: 20px;
  height: auto;
  position: relative;
  
}
.output-details p{
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 3PX;
  padding: 10PX;
  width: 100%;
  height: 100%;
  background: rgba(22,72,99,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #fff;
  padding: 10px 0px 0px 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.description{
  width: 95%;
  height: 260px;
  border-radius: 5px;
  padding: 20px;
  border: solid 1px black;
  outline: none;
  border: none;
  background: #efefef;
  transition: ease-in-out 0.5s;
}

.description:focus,
textarea:hover {
  outline: none;
  border-color: #fbaf03;
  box-shadow: 0 0 0 4px #fbb1037e;
}
.input:focus,
input:hover {
  outline: none;
  border-color: #fbaf03;
  box-shadow: 0 0 0 4px #fbb1037e;
}
.btn{
  background: #164863;
  width: 100%;
  font-weight: 800;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  outline: none;
}
.btn:hover{
  background: #fbaf03;
}
.input{
  border-radius: 5px;
  width: 97%;
  padding: 10px;
  outline: none;
  border: none;
  background: #efefef;
}
@keyframes anim {
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0 50%;
  }
}