@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "BIG JOHN";
  src: url("../assets/font/BIG JOHN.otf");
}
@font-face {
  font-family: "SLIM JOE";
  src: url("../assets/font/Slim Joe.otf");
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}
.main-container {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
}
.side-panel {
  z-index: 100;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
}
.profile-container {
  width: 85%;
  height: 100vh;
  overflow: auto;
}
.upper-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.upper-container ul:nth-child(2) {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.side-panel ul {
  width: 100%;
}
.side-panel ul li {
  cursor: pointer;
  width: 100%;
  display: flex;
  height: 52px;
  gap: 10px;
  align-items: center;
  transition: ease-in-out 0.5s;
}
.side-panel ul li a {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: #164863;
}
.side-panel li:hover {
  background-color: #fbaf03;
}
.side-panel li:hover svg {
  color: #fff;
}
.side-panel li:hover a {
  color: #fff;
}
.side-panel ul li svg {
  padding: 10px 5px 10px 20px;
  width: 20px;
  height: 20px;
  color: #164863;
}
.upper-container ul:nth-child(1) {
  padding-top: 20px;
  padding-left: 20px;
  gap: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.image-container img {
  width: 50px;
  height: 50px;
  padding: 5px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-container-side {
  width: 80%;
  padding-left: 10px;
}
.profile-container-side span {
  font-weight: 800;
  color: #164863;
}
.side-panel{
  
.active {
  background: #efefef;
}
.active a {
  color: #fbaf03;
}
.active svg {
  color: #fbaf03;
}
}
.logout{
  width: 100%;
}

.header {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
}
.title {
  width: 100%;
}
.title p {
  padding: 20px;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: "SLIM JOE";
  margin-left: 20px;
}
.acc-and-search {
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: flex-end;
}
.search-box {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  background: #efefef;
  align-items: center;
}
.search-box input {
  position: relative;
  width: 100%;
  height: 100%;
  border: solid 2px transparent;
  outline: none;
  background: none;
  margin-left: 20px;
}
.search-box:hover {
  outline: none;
  border-color: #fbaf03;
  box-shadow: 0 0 0 4px #fbb1037e;
  transition: ease-in-out 0.5s;
}
.search-box svg {
  width: 20px;
  height: 20px;
  padding: 10px;
}
.student-background{
  width: 97%;
  height: 400px;
  padding: 30px;
}
.student-child{
  background-image: url("../assets/image/programfour.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
}
.student-information{
  width: 100%;
  height: 100%;
  background: rgba(22,72,99,0.25);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);  
  display: flex;
}
.goodmorning, .Announcement{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goodmorning strong{
  font-weight: 800;
  font-size: 30px;
  width: 100%;
}
.goodmorning div{
  line-height: 30px;
  color: #fff;
}
.goodmorning button{
  cursor: pointer;
  margin-top: 20px;
  background: none;
  outline: none;
  border: solid 2px #ffffff;
  border-radius: 5px;
  color: #fff;
  width: 194px;
  letter-spacing: 3px;
  font-weight: 700;
  height: 43px;
  transition: ease-in-out 0.5s;
}
.goodmorning button:hover{
  background: #fbaf03;
  outline: none;
  border: none;
}
.Announcement div{
  width: 70%;
  overflow: auto;
  text-align: right;
  color: #fff;
}
.Announcement strong{
  font-weight: 800;
  font-size: 30px;
  width: 100%;
}
.Announcement p{
  margin-top: 10px;
  font-size: 13px;
  width: 100%;
}
.progress-container{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
}
.progress-child{
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  width: 97%;
  height: 100%;
  display: flex;
}
.progress-child .circle-container{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle{
  z-index: 100;
  width: 50px;
  height: 50px;
  border: solid 2px #164863;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle svg{
  color: #164863;
  width: 30px;
  height: 30px;
}
.active-process{
  border: none;
  background: #016A70;
}
.active-process svg{
 color: #fff;
}
.line{
  top: 59px;
  left: 239px;
  z-index: 1;
  position: absolute;
  width: 69%;
  height: 10px;
  border-radius: 30px;
  background-color: #fbaf03;
}
.line-progess{
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #016A70;
}
.upload-calendar-container{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  gap:10px;
}
.upload-container{
  position: relative;
  width: 61%;
  padding: 20px;
  height: auto;
}
.calendar-container-main{
  width: 35%;
  height: auto;
  padding: 20px;
}
.upload-container-child{
  background: #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.upload-title{
  border-radius: 10px 10px 0px 0px;
  position: relative;
  width: auto;
  color: #fff;
  background: #fbaf03;
  padding: 30px;
}
.upload-title strong{
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 800;
}
form{
  width: auto;
  height: auto;
  padding: 30px;
}
form input[type="text"]{
  width: 96%;
  height: 40px;
  padding: 10px;
  border: none;
  background: #efefef;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
}
.gwa-cor-contiainer, 
.profile-barangay-contiainer,
.Sig-ID-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap:10px;
  margin-top: 10px;
  .gwa-field{
    width: 100%;
  }
  .cor-field{
    width: 100%;
  }
  .profile-field{
    width: 100%;
  }
  .barangay-field{
    width: 100%;
  }
  .signature-container{
    width: 100%;
  }
  .id-field-container{
    width: 100%;
  }
  .file{
    width: 96%;
    height: 40px;
    padding: 10px;
    outline: none;
    background: #efefef;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
  }
}
.btn{
  color: #ffffff;
  font-weight: 800;
  background:#164863;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.btn:hover{
  background: #fbaf03;
}
::-webkit-file-upload-button {
  display: none;
}
.terms-condition-container{
  width: auto;
  position: relative;
  height: auto;
  overflow: auto;
  padding: 20px;
}
.terms-condition-container strong{
  padding: 10px;
  width: auto;
  font-weight: 800;
  color: #164863;
}
.terms-condition-container p{
  padding: 10px;
  width: auto;
  text-indent: 2rem;
  text-align: justify;
  color: #164863;
}
.calendar{
  background: #fff;
  border-radius: 10px;
  width: auto;
  height: auto;
  position: relative;
  padding: 20px;
}
.month{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.icons span{
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 10px;
  background: #efefef;
}
.icons svg{
  width: 20px;
  height: 20px;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.calendar .days li.active::before{
  background: #164863;
  color: #fff;
}
.calendar .days li:not(.active):hover::before{
  background: #f2f2f2;
}
